.header{
    display: flex;
    height: 120px;
    background-color: darkgray;
    align-items: center;
    justify-content: center;
}
.header-img{
    width: 60px;
    height: 95px;
    margin-left: 30px;
    margin-right: 10px;
    
}

.header-text{
    font-size: 200%;
}
.header-text:hover{
    color: darkgoldenrod;
}